<header class="main_h">

    <div class="row">
        <a class="logo" href="/users/dashboard">Reviews Portal</a>

        <div class="mobile-toggle">
            <span></span>
            <span></span>
            <span></span>
        </div>

        <nav>
            <ul>
                <li><a href="/reviews/findit">My Reviews</a></li>
                <li><a href="/users/logout">Sign Out</a></li>
            </ul>
        </nav>

    </div> <!-- / row -->

</header>
