<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>

    <% if (message.length > 0 ){ %>
    <h2> Flash Found. </h2>
    <div class="alert alert-danger">
    <%= message %>
    </div>
    <%  } %>


  </body>
</html>
