<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>
    This page will hold the individual reviews. </h1>

    <li>
     <h2> <%= review.rating %> </h2>
  <h2><%= review.comments %></h2><br>
    </li>
  </body>
</html>
