<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>

    <fieldset>
  <legend>Add a shopping list</legend>
  <form method="POST" action="/shoppingsites">
    <div class="form-group col-md-4">
      <input type="text" name="nameofsite" class="form-control" placeholder="name"/>
    </div>
    <div class="form-group col-md-4">
      <input type="text" name="establishedate" class="form-control" placeholder="establisheddate"/>
    </div>
    <div class="form-group col-md-4">
      <input type="text" name="details" class="form-control" placeholder="description"/>
    </div>
    <div class="form-group col-md-4">
      <input type="text" name="urlname" class="form-control" placeholder="url"/>
    </div>
    <div class="form-group col-md-4">
      <input type="text" name="reviewid" class="form-control" placeholder="review"/>
    </div>
    <div class="form-group col-md-4">
      <button class="btn btn-success col-md-12">Add an Shopping Site</button>
    </div>
  </form>
</fieldset>

  </body>
</html>
